h2 {
  font-size: 1.3rem;
  color: #333;
}

h3 {
  font-size: 1.2rem;
  color: #333;
}

button {
  margin-top: 10px;
}

label {
  display: block;
}

label > select {
  margin-left: 0.5rem;
}

.content-block {
  width: 100%;
  background-color: #eee;
  margin-top: 1rem;
  padding: 1rem 2rem;
  box-sizing: border-box;
  border-radius: 1rem;
}

.spaced {
  margin-top: 1rem;
}

button {
  padding: 0.3rem 3rem;
  border: unset;
  background-color: #333;
  color: #eee;
  border-radius: 1rem;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
  background-color: #222;
  color: #ddd;
}

table {
  background-color: #fff;
}

table > thead th {
  padding: 0.3rem 1rem;
  color: #fff;
  background-color: #333;
}

table > tbody td {
  padding: 0.3rem 1rem;
  border-bottom: 1px solid black;
}

table > tbody td.wrappable {
  white-space: normal !important;
}

table > tbody td.no-wrappable {
  white-space: nowrap !important;
}

blockquote {
  margin-left: 0.5rem;
  padding-left: 0.5rem;
  border-left: #888 4px solid;
}

pre {
  white-space: pre;
}
